#sell{
    display: flex;
    justify-content: center;
    gap: 5%;
}
#button1{
    color: aliceblue;
    background-color: rgb(29, 100, 100);
    border-radius: 20%;
}
#the{
 text-align: center;
 margin-top: 5%;
 font-size: xx-large;
}
#button2{
    color: aliceblue;
    background-color: rgb(34, 139, 139);
    border-radius: 7%;
    height: 50px;


}
#rent{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 5%;
}
#button3{
    color: aliceblue;
    background-color: blue;
    border-radius: 20%;
}
#image{
    display: flex;
    justify-content: center;

}
#pilot{
    display: flex;
    justify-content: center;
    gap: 5%;
}
#pro{
    text-align: center;
    margin-top: 5%;
    
}
#cartoon{
    display: flex;
    justify-content: center;
    gap: 15%;
}
#house{
    display: flex;
    justify-content: center;
    gap: 8%;
}
#learn{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 10%;
}
#button4{
    color: aliceblue;
    background-color: blue;
    border-radius: 15%;
    height: 50px;
    
    
}
#detailed{
    text-align: center;
    margin-top: 5%;
    font-size: x-large;

}
#nairobi{
    display: flex;
    justify-content: center;
    gap: 5%;
}
#list{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#what{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 10%;
}
#dont{
    text-align: center;
    font-size: x-large;

}
#pro{
    display: flex;
    justify-content: center;
    gap: 15%;
}
#copy{
    display: flex;
    justify-content: center;
    gap: 15%;
}
#big{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#explore{
    font-size: xx-large;
}
#email{
    display: flex;
    justify-content: center;
    gap: 20%;
}
#button8{
    color: aliceblue;
    background-color: blue;
    height: 50px;
    border-radius: 20%;
}
@media screen and (min-width: 320px) and (max-width: 576px){
    #image{
        display: flex;
        justify-content: center;
        
    }
}

